In [2]:
import polars as pl
import pandas as pd

In [4]:
pdf = pd.DataFrame()
w1 = "Batata"
t1 = "Sub"
w2 = "Correr"
t2 = "Verb"
w3 = "Nadar"
t3 = "Verb"


list = [(w1,t1),(w2,t2),(w3,t3),("Correr", "Sub")]
for w,t in list:
    if t not in pdf.columns:
        pdf[t] = 0
    
    pdf.loc[w,t] =+ 1

pdf

        Sub  Verb
Batata  1.0   0.0
Correr  1.0   1.0
Nadar   NaN   1.0

In [4]:
row1 = [i for i in range(10)]
row2 = [i for i in range(0,20,2)]
w1 = {'Batata':{"Sub":1,"Adj":2}}
df = pl.DataFrame(w1)
df

shape: (1, 1)
┌───────────┐
│ Batata    │
│ ---       │
│ struct[2] │
╞═══════════╡
│ {1,2}     │
└───────────┘